@import url('../../index.css');


.briefing{
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
    align-items: start;
}

.briefing__title{
    font-size: 52px;
    padding: 35px 0px 5px 0px;
}

.briefing__subtitle{
    font-size: 18px;
}

form{
    padding: 30px 0;
}

.formButton{
    padding: 12px 60px;
    border-radius: 50px;
    font-size: 18px;
    color: var(--text-color);
    margin-right: 12px;
    margin-top: 30px;
    background-color: var(--btn-color);

}



.formButton--back{
    background-color: var(--btn-color-back);
}